<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!--How to test two or more test together -->

<suite name="TestAutomation_RegressionTest" verbose="1" parallel="classes" >

    <test name="APITest">
        <classes>
            <class name="api_test.GetTestWithPathVariable"/>
            <class name="api_test.GetTestWithQueryParameter"/>
            <class name="api_test.SimpleDeleteTest"/>
            <class name="api_test.SimpleGetTest"/>
            <class name="api_test.SimplePatchTest"/>
            <class name="api_test.SimplePostTest"/>
            <class name="api_test.SimplePutTest"/>

        </classes>
    </test>
</suite>
